<!DOCTYPE html>
<html lang="en" ng-app="mobilerange">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<script src="js/angular.js"></script>
		<script src="js/socket.io.js"></script>
		<script src="app/mobilerange.js"></script>
		
		<link rel="stylesheet" href="/css/style.css" />
		
		<title>MobileRange</title>
	</head>
	<body ng-controller="MainController">
		
		<svg ng-attr-view_box="0 0 {{gridSide}} {{gridSide}}" xmlns="http://www.w3.org/2000/svg">
			<circle ng-repeat="shot in shots" ng-class="{lastShot: $last, regularShot: !$last}" ng-attr-cx="{{shot.x}}" ng-attr-cy="{{shot.y}}" ng-attr-r="{{shotRadius}}"></circle>
			
			<circle ng-repeat="hole in grid" class="gridHole" ng-attr-cx="{{hole.x}}" ng-attr-cy="{{hole.y}}" ng-attr-r="{{shotRadius}}"></circle>
			
			<circle ng-if="avgShot" class="avgShot" ng-attr-cx="{{avgShot.x}}" ng-attr-cy="{{avgShot.y}}" ng-attr-r="{{shotRadius}}"></circle>
		</svg>
		
	</body>
</html>
